version: '3.8'

services:
  app:
    build: .
    container_name: movie-app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: movie-db
    command: --sql-mode=""
    environment:
      MYSQL_DATABASE: movie_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: